<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="pe.com.democrud.dao.ClienteDao">

	<resultMap id="resultado" type="Cliente">
		<result column="CODCLIENTE" property="codCliente" />
		<result column="NOMBRES" property="nombres" />
		<result column="APELLIDOS" property="apellidos" />
		<result column="DIRECCION" property="direccion" />		
	</resultMap>


	<select id="listaCliente" parameterType="Cliente" resultMap="resultado">
		select
		cl.CODCLIENTE ,
		cl.NOMBRES ,
		cl.APELLIDOS,
		cl.DIRECCION
		from
		CLIENTE cl		
		where
		(cl.NOMBRES like ('%'|| #{nombres} || '%') or #{nombres} is null)	
		order by cl.CODCLIENTE 	
	</select>

	<insert id="insertarCliente" parameterType="Cliente">
		<selectKey order="BEFORE" resultType="Long" keyProperty="codCliente">
			select SEQ_CLIENTE.nextval from dual
		</selectKey>
		insert into
		CLIENTE (
		CODCLIENTE,
		NOMBRES,
		APELLIDOS,
		DIRECCION
		)
		values
		(
		#{codCliente},
		#{nombres},
		#{apellidos},
		#{direccion}
		)
	</insert>
	
	<update id="actualizarCliente" parameterType="Cliente">
		update CLIENTE
		SET
		NOMBRES = #{nombres},
		APELLIDOS = #{apellidos},
		DIRECCION = #{direccion}
		where
		CODCLIENTE =
		#{codCliente}
	</update>

</mapper>